@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  padding: 10px;
  height: 90vh;
}
body {
  background-color: #fff; /* Set the desired background color for light mode */
  color: #000; /* Set the desired text color for light mode */
}
